.searchingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.searchButtonContainer {
    margin-top: 15px;
}

input {
    width: 200px;
    margin-top: 15px;
}